<h1>question</h1>
<!--
<a href="{% url 'result' %}">see result</a>
-->
<form action="{% url 'result' %}" method="post">
    {% csrf_token %}

    <p>Q1</p>
    <input type="radio" id="choice1" value="1" name="q1" >
    <input type="radio" id="choice2" value="2" name="q1"/>
    <input type="radio" id="choice3" value="3" name="q1"/>
    <input type="radio" id="choice4" value="4" name="q1"/>
    <input type="radio" id="choice5" value="5" name="q1"/>
    <input type="radio" id="choice6" value="6" name="q1"/>
    <input type="radio" id="choice7" value="7" name="q1"/>

    <p>Q2</p>
    <input type="radio" id="choice1" value="1" name="q2" >
    <input type="radio" id="choice2" value="2" name="q2"/>
    <input type="radio" id="choice3" value="3" name="q2"/>
    <input type="radio" id="choice4" value="4" name="q2"/>
    <input type="radio" id="choice5" value="5" name="q2"/>
    <input type="radio" id="choice6" value="6" name="q2"/>
    <input type="radio" id="choice7" value="7" name="q2"/>
    

    <p>Q3</p>
    <input type="radio" id="choice1" value="1" name="q3" >
    <input type="radio" id="choice2" value="2" name="q3"/>
    <input type="radio" id="choice3" value="3" name="q3"/>
    <input type="radio" id="choice4" value="4" name="q3"/>
    <input type="radio" id="choice5" value="5" name="q3"/>
    <input type="radio" id="choice6" value="6" name="q3"/>
    <input type="radio" id="choice7" value="7" name="q3"/>


    <p>Q4</p>
    <input type="radio" id="choice1" value="1" name="q4" >
    <input type="radio" id="choice2" value="2" name="q4"/>
    <input type="radio" id="choice3" value="3" name="q4"/>
    <input type="radio" id="choice4" value="4" name="q4"/>
    <input type="radio" id="choice5" value="5" name="q4"/>
    <input type="radio" id="choice6" value="6" name="q4"/>
    <input type="radio" id="choice7" value="7" name="q4"/>


    <p>Q5</p>
    <input type="radio" id="choice1" value="1" name="q5" >
    <input type="radio" id="choice2" value="2" name="q5"/>
    <input type="radio" id="choice3" value="3" name="q5"/>
    <input type="radio" id="choice4" value="4" name="q5"/>
    <input type="radio" id="choice5" value="5" name="q5"/>
    <input type="radio" id="choice6" value="6" name="q5"/>
    <input type="radio" id="choice7" value="7" name="q5"/>


    <p>Q6</p>
    <input type="radio" id="choice1" value="1" name="q6" >
    <input type="radio" id="choice2" value="2" name="q6"/>
    <input type="radio" id="choice3" value="3" name="q6"/>
    <input type="radio" id="choice4" value="4" name="q6"/>
    <input type="radio" id="choice5" value="5" name="q6"/>
    <input type="radio" id="choice6" value="6" name="q6"/>
    <input type="radio" id="choice7" value="7" name="q6"/>
    

    <p>Q7</p>
    <input type="radio" id="choice1" value="1" name="q7" >
    <input type="radio" id="choice2" value="2" name="q7"/>
    <input type="radio" id="choice3" value="3" name="q7"/>
    <input type="radio" id="choice4" value="4" name="q7"/>
    <input type="radio" id="choice5" value="5" name="q7"/>
    <input type="radio" id="choice6" value="6" name="q7"/>
    <input type="radio" id="choice7" value="7" name="q7"/>


    <p>Q8</p>
    <input type="radio" id="choice1" value="1" name="q8">
    <input type="radio" id="choice2" value="2" name="q8"/>
    <input type="radio" id="choice3" value="3" name="q8"/>
    <input type="radio" id="choice4" value="4" name="q8"/>
    <input type="radio" id="choice5" value="5" name="q8"/>
    <input type="radio" id="choice6" value="6" name="q8"/>
    <input type="radio" id="choice7" value="7" name="q8"/>
    
    

<br>
<input type="submit" value="입력">
</form>


<br>
<button type="button" onclick="location.href='/recommend/result'"">
    see result
</button>
